.slider {
  margin: 80px auto;
  width: 1000px;
}

.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: -30px !important;
  position: relative;
}

.owl-theme .owl-dots .owl-dot span {
  width: 15px !important;
  height: 15px !important;
}

.modal .modal-dialog .modal-content {
  border: none;
}

.modal .modal-header {
  background-color: #333;
  color: #fff;
  height: 46px;
}

.modal .modal-header h2 {
  font-size: 16px;
}
.modal .modal-body p {
  color: #4d4d4d;
  font-size: 14px;
}

.modal .modal-body a {
  color: #990;
  text-decoration: underline;
}

.modal .modal-body a:hover {
  color: #898900;
}

.modal .modal-body form .btn-primary {
  background-color: #fc0;
  border-color: #e9bb01;
  border: 2px solid #fc0;
  color: #4d4d4d;
  border-radius: 50px;
  width: 140px;
  margin: 15px;
  font-weight: 600;
  font-size: 16px;
}

.modal .modal-body form .btn-primary:hover{
  background-color:#e9bb01 ;
  border-color: #e9bb01;
}

.modal .modal-body form .btn-link{
  color: #990;
  margin:15px;
}

.modal .modal-body form .btn-link:hover{
  color: #898900;
  background-color: none;
}

.section-banner{
  width: 101%;
}
.slide {
  width: 4%;
  float: left;
  background-color: #eee;
  height: 260px;
  font-weight: bold;
  cursor: pointer;
  background-size: cover;
  background-position: center;
  transition: 0.3s ease;
}

h3 {
  transform: rotate(90deg);
  text-transform: uppercase;
  white-space: nowrap;
  margin-top: 30px !important;
  color: #fff;
  font-size: 1.35rem !important;
}

.tab-1 {
  background-color: blue;
}

.tab-2 {
  background-color: red;
}

.tab-3 {
  background-color: green;
}

.tab-4 {
  background-color: gray;
}

.tab-5 {
  background-color: aquamarine;
}

.info {
  border-left: 1px solid #ccc;
  float: left;
  background-color: #ddd;
  height: 250px;
  width: 0;
  display: none;
}

.info .info-banner {
  width: 100%;
  height: 260px;
  object-fit: inherit;
}

main .sections {
  margin: 30px 0px;
}

.owl-carousel .owl-item img {
  max-height: 260px;
}
